# Frontend
frontend/node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/

# Media / Large Files
*.mp4
*.avi
*.mov
evidence/
